body{
margin:0;
font-family:Arial, sans-serif;
background: radial-gradient(circle at top, #2b0f0f, #0b0b0b);
color:white;

/* центрируем интерфейс */
display:flex;
justify-content:center;
}

/* контейнер приложения */

.app{
width:100%;
max-width:420px;
min-height:100vh;
}

/* HEADER */

.header{
display:flex;
align-items:center;
padding:15px;
background:rgba(0,0,0,0.6);
backdrop-filter: blur(10px);
border-bottom:1px solid #333;
}

.avatar{
width:40px;
height:40px;
border-radius:50%;
margin-right:10px;
border:2px solid #555;
}

.username{
font-size:15px;
font-weight:bold;
}

/* CASE GRID */

.container{
padding:20px;

display:grid;
grid-template-columns: repeat(2, 1fr);
gap:16px;
}

/* CASE CARD */

.case{
background:linear-gradient(145deg,#1b1b1b,#111);
border-radius:16px;
padding:16px;
text-align:center;
border:1px solid #333;
box-shadow:0 0 20px rgba(0,0,0,0.7);
}

/* CASE IMAGE */

.case-img{
width:100%;
max-width:110px;

animation: floatCase 4s ease-in-out infinite;

filter:
drop-shadow(0 0 10px #ff0000)
drop-shadow(0 0 25px #ff2b2b);
}

/* АНИМАЦИЯ */

@keyframes floatCase{

0%{
transform: translateY(0px) rotate(-2deg);
}

50%{
transform: translateY(-14px) rotate(2deg);
}

100%{
transform: translateY(0px) rotate(-2deg);
}

}

/* CASE TITLE */

.case-title{
font-family:'Orbitron', sans-serif;
font-size:16px;
margin:10px 0;
font-weight:800;
letter-spacing:2px;

color:#ff2b2b;

text-shadow:
0 0 6px #ff0000,
0 0 12px #ff0000,
0 0 22px #ff3c3c;
}

/* BUTTON */

.open-btn{
width:100%;

background:linear-gradient(135deg,#ff0033,#ff0000);
border:none;
padding:10px;
border-radius:10px;
color:white;
font-size:14px;
cursor:pointer;

box-shadow:0 0 10px rgba(255,0,0,0.6);
}

.open-btn:active{
transform:scale(0.96);
}

/* DISABLED CASE */

.case-disabled{
opacity:0.45;
}

.dev-text{
font-size:12px;
color:#aaa;
}

/* NAVIGATION */

.nav{
position:fixed;
bottom:0;
width:100%;
max-width:420px;

background:rgba(0,0,0,0.7);
backdrop-filter: blur(10px);

display:flex;
justify-content:space-around;

padding:12px 0;

border-top:1px solid #333;
}

.nav button{
background:none;
border:none;
color:white;
font-size:13px;
cursor:pointer;
}

.disabled{
opacity:0.4;
}

.back-btn{

width:36px;
height:36px;

display:flex;
align-items:center;
justify-content:center;

background:linear-gradient(135deg,#ff0033,#ff0000);

border:none;
border-radius:10px;

color:white;
font-size:18px;

cursor:pointer;

margin-right:10px;

box-shadow:
0 0 8px rgba(255,0,0,0.7),
0 0 16px rgba(255,0,0,0.4);

transition:0.2s;

}

.back-btn:active{
transform:scale(0.92);
}
